.widget {
    position: sticky;
    top: 80px;
    flex: 0.2;
    background: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}

.widget__linkedinNews {
    display: flex;
    color: black;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}


.widget__linkedinNews > p {
    margin-left: 5px;
    font-weight: bold;
    font-size: 15px;
}

.widget > p {
    text-align: left;
    padding: 14px ;
}

.widget__bullet {
    color: #0a66c2;
    font-weight: 900;
}

.widget :hover {
    background-color: whitesmoke;
    /* border-radius: 10px; */
}